<h1>All Comic Books</h1>

<% @cbs.each do |book| %>
    <a href="/comic_books/<%= book.id %>">
        <div class="display-box">
            <h3><%= book.title %></h3>
            <p><strong>Author: <i><%= book.author.name if book.author %></i>. Artist: <i><%= book.artist.name if book.artist %></i></strong></p>
            <p><i>
                Genres: <% book.genres.each do |genre| %>
                   <%= "#{genre.name} |" %>
                <% end %>
            </i></p>            
            <p><%= book.description %></p>
        </div>
    </a>
<% end %>